{% extends 'frontend/base.html' %}

{% load static %}

{% block title %} Home {% endblock %}
{% block meta %}  
    <meta content="Welcome to LogicPiece - Your gateway to innovative web and mobile applications, automation solutions, social media management, and AI services. Unleash the power of technology with LogicPiece." name="description">
    <meta name="keywords" content="innovation, technology solutions, LogicPiece, web applications, mobile applications, automation, AI services">
{% endblock %}

{% block body %}
    <div class="container-xxl bg-white p-0">
        {% include "frontend/header.html" %}
        <div class="container-xxl bg-primary hero-header">
            <div class="container px-lg-5">
                <div class="row g-5 align-items-end">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="text-white mb-4 animated slideInDown">Welcome to LogicPiece</h1>
                        <p class="text-white pb-3 animated slideInDown">Your gateway to innovative web and mobile applications, automation solutions, social media management, and AI services. Unleash the power of technology with LogicPiece.</p>
                        <a href="{% url 'contact' %}" class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contact Us</a>
                    </div>
                    <div class="col-lg-6 text-center text-lg-start">
                        <img class="img-fluid animated zoomIn" src="{%  static 'frontend/img/hero.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Feature Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                            <h5 class="mb-3">Web Application Development</h5>
                            <p class="m-0">Crafting powerful web applications that engage users and drive results. From concept to deployment, we make your vision a digital reality.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-mobile-alt text-primary mb-4"></i>
                            <h5 class="mb-3">Mobile App Development</h5>
                            <p class="m-0">Innovative mobile app solutions for iOS and Android that connect you with a global audience. Elevate your mobile presence with LogicPiece.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-cogs text-primary mb-4"></i>
                            <h5 class="mb-3">Automation Solutions</h5>
                            <p class="m-0">Simplify and optimize your operations with our automation services. Reduce manual tasks, increase efficiency, and scale your business.</p>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-chart-line text-primary mb-4"></i>
                            <h5 class="mb-3">Digital Marketing</h5>
                            <p class="m-0">Drive your digital presence to new heights with our digital marketing strategies. Connect with your audience and achieve your online goals.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.9s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-search text-primary mb-4"></i>
                            <h5 class="mb-3">SEO & Backlinks</h5>
                            <p class="m-0">Enhance your website's visibility and performance with our SEO and backlink strategies. Boost your online presence and attract more visitors.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="1.1s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-brain text-primary mb-4"></i>
                            <h5 class="mb-3">AI Integration</h5>
                            <p class="m-0">Leverage the power of artificial intelligence to make data-driven decisions and provide personalized user experiences. Explore AI's potential with LogicPiece.</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Feature End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title text-secondary">About Us<span></span></p>
                        <h1 class="mb-5">#1 Digital Solution Provider with 3 Years of Excellence</h1>
                        <p class="mb-4">LogicPiece, with its solid foundation of 3 years of expertise, is committed to crafting cutting-edge digital solutions that revolutionize businesses. Our unwavering dedication to excellence ensures the delivery of top-tier services, and our relentless pursuit of technological innovation paves the way for your success.</p>                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Digital Marketing</p>
                                <p class="mb-2">100%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">SEO & Backlinks</p>
                                <p class="mb-2">95%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Design & Development</p>
                                <p class="mb-2">90%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">AI Integration</p>
                                <p class="mb-2">85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Web Development</p>
                                <p class="mb-2">95%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Automation Solutions</p>
                                <p class="mb-2">100%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Read More</a>
                    </div>
                    
                    <div class="col-lg-6">
                        <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="{%  static 'frontend/img/about.png' %}">
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Facts Start -->
        <div class="container-xxl bg-primary fact py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                        <i class="fa fa-certificate fa-3x text-secondary mb-3"></i>
                        <h1 class="text-white mb-2" data-toggle="counter-up">3</h1>
                        <p class="text-white mb-0">Years Experience</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                        <i class="fa fa-users-cog fa-3x text-secondary mb-3"></i>
                        <h1 class="text-white mb-2" data-toggle="counter-up">5</h1>
                        <p class="text-white mb-0">Team Members</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-users fa-3x text-secondary mb-3"></i>
                        <h1 class="text-white mb-2" data-toggle="counter-up">50</h1>
                        <p class="text-white mb-0">Satisfied Clients</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                        <i class="fa fa-check fa-3x text-secondary mb-3"></i>
                        <h1 class="text-white mb-2" data-toggle="counter-up">80</h1>
                        <p class="text-white mb-0">Compleate Projects</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facts End -->


        <!-- Service Start -->
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span>Our Services<span></span></p>
                    <h1 class="text-center mb-5">What Solutions We Provide</h1>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-laptop-code fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Custom Web Development</h5>
                            <p class="m-0">Crafting dynamic web applications that drive your business forward. From concept to deployment, we've got your web development needs covered.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item d-flex flex-column text center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-mobile-alt fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Mobile App Development</h5>
                            <p class="m-0">Innovative mobile app solutions for iOS and Android that connect you with a global audience. Elevate your mobile presence with LogicPiece.</p>
                            <a class "btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-database fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Database Management</h5>
                            <p class="m-0">Building robust database solutions to store and manage your data efficiently. Our expertise ensures secure and scalable databases.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-cogs fa-2x"></i>
                            </div>
                            <h5 class="mb-3">AI and Machine Learning</h5>
                            <p class="m-0">Leveraging the power of artificial intelligence to drive your projects and decision-making processes. Explore AI's potential with LogicPiece.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.9s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-database fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Data Extraction and Analysis</h5>
                            <p class="m-0">Efficiently extracting, transforming, and loading data to make informed business decisions. We provide data solutions tailored to your needs.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="1.1s">
                        <div class="service-item d-flex flex-column text-center rounded">
                            <div class="service-icon flex-shrink-0">
                                <i class="fa fa-bullhorn fa-2x"></i>
                            </div>
                            <h5 class="mb-3">Digital Marketing Services</h5>
                            <p class="m-0">Driving your digital presence to new heights with our digital marketing strategies. Connect with your audience and achieve your online goals.</p>
                            <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Service End -->


        <!-- Newsletter Start -->
        <div class="container-xxl bg-primary newsletter py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                        <p class="section-title text-white justify-content-center"><span></span>Newsletter<span></span></p>
                        <h2 class="text-center text-white mb-4">Stay Connected with Us</h2>
                        <p class="text-white mb-4">Subscribe to our newsletter and never miss out on the latest updates, industry insights, and special offers. Join our community to stay informed and engaged with LogicPiece's innovations and expertise.</p>                        
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" id="emailInput" placeholder="Enter Your Email" style="height: 48px;">
                            <button type="button" id="subscribeButton" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                        
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                        
                        <script>
                            $(document).ready(function() {
                                $('#subscribeButton').click(function() {
                                    var email = $('#emailInput').val();
                                    
                                    // Check if the email input is not empty
                                    if (email.trim() !== '') {
                                        $.ajax({
                                            type: 'POST',
                                            url: '/api/subscribe/',
                                            data: {
                                                email: email
                                            },
                                            success: function(response) {
                                                // Handle success, e.g., show a success message or redirect the user
                                                console.log('Subscription successful');
                                            },
                                            error: function(xhr, textStatus, error) {
                                                // Handle errors, e.g., display an error message
                                                console.error('Subscription failed: ' + error);
                                            }
                                        });
                                    }
                                });
                            });
                        </script>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->




        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <p class="section-title text-secondary justify-content-center"><span></span>Testimonial<span></span></p>
                <h1 class="text-center mb-5">What Our Clients Say!</h1>
                <div class="owl-carousel testimonial-carousel">
                   <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i>We are incredibly grateful for the exceptional gaming website developed by [Your Name] for TlouEsport. Their expertise and dedication have taken our gaming platform to the next level. The website's design and functionality exceeded our expectations, and it has greatly improved the gaming experience for our users.</p>
                        <div class="ps-4">
                            <h5 class="mb-1">Meshal A. (UK)</h5>
                            <span>Project: Gaming Website for TlouEsport</span>
                        </div>
                    </div>
                   <!--   <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i[Your Name] has been a true asset to our music automation project. Their software has significantly reduced our workload and enhanced our music production processes. We appreciate the dedication and skill [Your Name] brought to the table.</p>
                        <div class="ps-4">
                            <h5 class="mb-1">Esther B. (Australia)</h5>
                            <span>Project: Automation of software for a musician to reduce workload</span>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></iWe couldn't be happier with [Your Name]'s assistance in setting up our e-commerce store and lead generation strategies. Their expertise and guidance have been instrumental in the success of our online business. We highly recommend their services.</p>
                        <div class="ps-4">
                            <h5 class="mb-1">Susan (China)</h5>
                            <span>Project: E-commerce store setup and lead generation assistance</span>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></iMarin Zidar from Croatia is a technical genius who developed social media bots/APIs, a news website, and a radio website for us. His work has significantly improved our online presence and engagement. Marin is a creative genius, and we can't thank him enough!</p>
                        <div class="ps-4">
                            <h5 class="mb-1">Marin Zidar (Croatia)</h5>
                            <span>Projects: Developed Social Media Bots/API, News Website Development, Radio Website Development</span>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></iAnthony C. from Australia has played a vital role in assisting our sales growth. His strategies and expertise have boosted our revenue significantly. We are on an upward trajectory, and it's all thanks to Anthony's guidance!</p>
                        <div class="ps-4">
                            <h5 class="mb-1">Anthony C. (Australia)</h5>
                            <span>Project: Sales growth assistance</span>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></iKenny Rogers (Withheld, South Korea) provided outstanding backend support for our streaming platform. His technical skills and dedication ensured our platform runs smoothly and efficiently. Kenny's support has been invaluable to our success!</p>
                        <div class="ps-4">
                            <h5 class="mb-1">Kenny Rogers (Withheld, South Korea)</h5>
                            <span>Project: Backend support for their streaming platform</span>
                        </div>
                    </div>
                    <div class="testimonial-item bg-light rounded my-4">
                        <p class="fs-5"><i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></iWe couldn't be happier with the work done by [Your Name] for our cryptocurrency web application. The application is not only secure and efficient but also aesthetically pleasing, thanks to their attention to detail. Their dedication and innovative approach to problem-solving made this project a resounding success. We highly recommend their services!</p>
                        <div class="ps-4">
                            <h5 class="mb-1">Patrick Lenert (Germany)</h5>
                            <span>Project: Development of a cryptocurrency web application, both backend and frontend</span>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
             
        <!-- Testimonial End -->
                <!-- Projects Start -->
                <div class="container-xxl py-5">
                    <div class="container py-5 px-lg-5">
                        <div class="wow fadeInUp" data-wow-delay="0.1s">
                            <p class="section-title text-secondary justify-content-center"><span></span>Our Projects<span></span></p>
                            <h1 class="text-center mb-5">Recently Completed Projects</h1>
                        </div>
                        <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="col-12 text-center">
                                <ul class="list-inline mb-5" id="portfolio-flters">
                                    <li class="mx-2 active" data-filter="*">All</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row g-4 portfolio-container" style="padding-bottom: 400px;" id="portfolio-container">
                            <!-- Portfolio entries will be added here using JavaScript -->
                        </div>
                    </div>
                </div>
                
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                
                <script>
                    $(document).ready(function () {
                        // Fetch portfolio data from the API
                        $.ajax({
                            url: '/api/portfolio/',
                            type: 'GET',
                            dataType: 'json',
                            success: function (data) {
                                // Loop through the data and populate your HTML
                                $.each(data, function (index, portfolio) {
                                    var image = portfolio.images.length > 0 ? portfolio.images[0].image : '';
                                    var portfolioItem = `
                                        <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp" data-wow-delay="0.${index % 3 + 1}s">
                                            <div class="rounded overflow-hidden">
                                                <div class="position-relative overflow-hidden">
                                                    <img class="img-fluid w-100" src="${image}" alt="">
                                                    <div class="portfolio-overlay">
                                                        <a class="btn btn-square btn-outline-light mx-1" href="${image}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                                        <a class="btn btn-square btn-outline-light mx-1" href="${portfolio.link}" target="_blank"><i class="fa fa-link"></i></a>
                                                    </div>
                                                </div>
                                                <div class="bg-light p-4">
                                                    <p class="text-primary fw-medium mb-2">${portfolio.category}</p>
                                                    <h5 class="lh-base mb-0">${portfolio.title}</h5>
                                                </div>
                                            </div>
                                        </div>`;
                                    $('#portfolio-container').append(portfolioItem);
                                });
                            },
                            error: function (error) {
                                console.error('Error fetching portfolio data:', error);
                            }
                        });
                    });
                </script>
                
                
                <!-- Projects End -->
        

        {% include "frontend/footer.html" %}

    </div>
{% endblock %}